* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    gap: 0px 20px;
}

.numbers, .operators {
    display: grid;
    gap: 5px;
}

.numbers {
    grid-template-columns: repeat(3, auto);
}

.operators {
    grid-template-columns: repeat(2, auto);
}

.number-btn, .operator-btn {
    font-size: 40px;
    padding: 0 10px;
    border: none;
    background-color: #5b5b5b;
}